.button {
  background-color: var(--color-blue);
  color: var(--color-powder);
}

.button:hover,
.button:focus {
  background-color: var(--color-darker-blue);
  color: var(--color-powder);
}

.button.primary {
  background-color: var(--color-blue);
  color: var(--color-powder);
}

.button.primary:hover,
.button.primary:focus {
  background-color: var(--color-darker-blue);
  color: var(--color-powder);
}

.button.secondary {
  background-color: var(--color-dark-grey);
  color: var(--color-powder);
}

.button.secondary:hover,
.button.secondary:focus {
  background-color: var(--color-darker-grey);
  color: var(--color-powder);
}

.button.alert {
  background-color: var(--color-ruby);
  color: var(--color-powder);
}

.button.alert:hover,
.button.alert:focus {
  background-color: var(--color-darker-ruby);
  color: var(--color-powder);
}

.button.success {
  background-color: var(--color-green);
  color: var(--color-powder);
}

.button.success:hover,
.button.success:focus {
  background-color: var(--color-dark-green);
  color: var(--color-powder);
}

.button.warning {
  background-color: var(--color-orange);
  color: var(--color-powder);
}

.button.warning:hover,
.button.warning:focus {
  background-color: var(--color-dark-orange);
  color: var(--color-powder);
}

.button.body-font {
  background-color: var(--color-font);
  color: var(--color-powder);
}

.button.body-font:hover,
.button.body-font:focus {
  background-color: var(--color-dark-font);
  color: var(--color-powder);
}

.button.header {
  background-color: var(--color-font);
  color: var(--color-powder);
}

.button.header:hover,
.button.header:focus {
  background-color: var(--color-dark-font);
  color: var(--color-powder);
}

.button.disabled,
.button.disabled:hover,
.button.disabled:focus,
.button[disabled],
.button[disabled]:hover,
.button[disabled]:focus {
  background-color: var(--color-blue);
  color: var(--color-powder);
}

.button.disabled.primary,
.button.disabled.primary:hover,
.button.disabled.primary:focus,
.button[disabled].primary,
.button[disabled].primary:hover,
.button[disabled].primary:focus {
  background-color: var(--color-blue);
  color: var(--color-powder);
}

.button.disabled.secondary,
.button.disabled.secondary:hover,
.button.disabled.secondary:focus,
.button[disabled].secondary,
.button[disabled].secondary:hover,
.button[disabled].secondary:focus {
  background-color: var(--color-grey2);
  color: var(--color-font);
}

.button.disabled.alert,
.button.disabled.alert:hover,
.button.disabled.alert:focus,
.button[disabled].alert,
.button[disabled].alert:hover,
.button[disabled].alert:focus {
  background-color: var(--color-ruby);
  color: var(--color-powder);
}

.button.disabled.success,
.button.disabled.success:hover,
.button.disabled.success:focus,
.button[disabled].success,
.button[disabled].success:hover,
.button[disabled].success:focus {
  background-color: var(--color-green);
  color: var(--color-font);
}

.button.disabled.warning,
.button.disabled.warning:hover,
.button.disabled.warning:focus,
.button[disabled].warning,
.button[disabled].warning:hover,
.button[disabled].warning:focus {
  background-color: var(--color-orange);
  color: var(--color-font);
}

.button.disabled.body-font,
.button.disabled.body-font:hover,
.button.disabled.body-font:focus,
.button[disabled].body-font,
.button[disabled].body-font:hover,
.button[disabled].body-font:focus {
  background-color: var(--color-font);
  color: var(--color-powder);
}

.button.disabled.header,
.button.disabled.header:hover,
.button.disabled.header:focus,
.button[disabled].header,
.button[disabled].header:hover,
.button[disabled].header:focus {
  background-color: var(--color-font);
  color: var(--color-powder);
}

.button.hollow {
  border: 1px solid var(--color-grey1);
  color: var(--color-dark-grey);
}

.button.hollow:hover,
.button.hollow:focus {
  border-color: var(--color-darker-grey);
  color: var(--color-darker-grey);
}

.button.hollow:hover.disabled,
.button.hollow:hover[disabled],
.button.hollow:focus.disabled,
.button.hollow:focus[disabled] {
  border: 1px solid var(--color-blue);
  color: var(--color-blue);
}

.button.hollow.primary {
  border: 1px solid var(--color-blue);
  color: var(--color-blue);
}

.button.hollow.primary:hover,
.button.hollow.primary:focus {
  border-color: var(--color-darker-blue);
  color: var(--color-darker-blue);
}

.button.hollow.primary:hover.disabled,
.button.hollow.primary:hover[disabled],
.button.hollow.primary:focus.disabled,
.button.hollow.primary:focus[disabled] {
  border: 1px solid var(--color-blue);
  color: var(--color-blue);
}

.button.hollow.secondary {
  border: 1px solid var(--color-grey2);
  color: var(--color-grey2);
}

.button.hollow.secondary:hover,
.button.hollow.secondary:focus {
  border-color: var(--color-darker-grey);
  color: var(--color-darker-grey);
}

.button.hollow.secondary:hover.disabled,
.button.hollow.secondary:hover[disabled],
.button.hollow.secondary:focus.disabled,
.button.hollow.secondary:focus[disabled] {
  border: 1px solid var(--color-grey2);
  color: var(--color-grey2);
}

.button.hollow.alert {
  border: 1px solid var(--color-ruby);
  color: var(--color-ruby);
}

.button.hollow.alert:hover,
.button.hollow.alert:focus {
  border-color: var(--color-darker-ruby);
  color: var(--color-darker-ruby);
}

.button.hollow.alert:hover.disabled,
.button.hollow.alert:hover[disabled],
.button.hollow.alert:focus.disabled,
.button.hollow.alert:focus[disabled] {
  border: 1px solid var(--color-ruby);
  color: var(--color-ruby);
}

.button.hollow.success {
  border: 1px solid var(--color-green);
  color: var(--color-green);
}

.button.hollow.success:hover,
.button.hollow.success:focus {
  border-color: var(--color-darker-green);
  color: var(--color-darker-green);
}

.button.hollow.success:hover.disabled,
.button.hollow.success:hover[disabled],
.button.hollow.success:focus.disabled,
.button.hollow.success:focus[disabled] {
  border: 1px solid var(--color-green);
  color: var(--color-green);
}

.button.hollow.warning {
  border: 1px solid var(--color-orange);
  color: var(--color-orange);
}

.button.hollow.warning:hover,
.button.hollow.warning:focus {
  border-color: var(--color-darker-orange);
  color: var(--color-darker-orange);
}

.button.hollow.warning:hover.disabled,
.button.hollow.warning:hover[disabled],
.button.hollow.warning:focus.disabled,
.button.hollow.warning:focus[disabled] {
  border: 1px solid var(--color-orange);
  color: var(--color-orange);
}

.button.hollow.body-font {
  border: 1px solid var(--color-font);
  color: var(--color-font);
}

.button.hollow.body-font:hover,
.button.hollow.body-font:focus {
  border-color: var(--color-dark-font);
  color: var(--color-dark-font);
}

.button.hollow.body-font:hover.disabled,
.button.hollow.body-font:hover[disabled],
.button.hollow.body-font:focus.disabled,
.button.hollow.body-font:focus[disabled] {
  border: 1px solid var(--color-font);
  color: var(--color-font);
}

.button.hollow.header {
  border: 1px solid var(--color-font);
  color: var(--color-font);
}

.button.hollow.header:hover,
.button.hollow.header:focus {
  border-color: var(--color-dark-font);
  color: var(--color-dark-font);
}

.button.hollow.header:hover.disabled,
.button.hollow.header:hover[disabled],
.button.hollow.header:focus.disabled,
.button.hollow.header:focus[disabled] {
  border: 1px solid var(--color-font);
  color: var(--color-font);
}

.button.clear {
  border: 1px solid var(--color-blue);
  color: var(--color-blue);
}

.button.clear:hover,
.button.clear:focus {
  border-color: var(--color-darker-blue);
  color: var(--color-darker-blue);
}

.button.clear:hover.disabled,
.button.clear:hover[disabled],
.button.clear:focus.disabled,
.button.clear:focus[disabled] {
  border: 1px solid var(--color-blue);
  color: var(--color-blue);
}

.button.clear.primary {
  border: 1px solid var(--color-blue);
  color: var(--color-blue);
}

.button.clear.primary:hover,
.button.clear.primary:focus {
  border-color: var(--color-darker-blue);
  color: var(--color-darker-blue);
}

.button.clear.primary:hover.disabled,
.button.clear.primary:hover[disabled],
.button.clear.primary:focus.disabled,
.button.clear.primary:focus[disabled] {
  border: 1px solid var(--color-blue);
  color: var(--color-blue);
}

.button.clear.secondary {
  border: 1px solid var(--color-grey2);
  color: var(--color-grey2);
}

.button.clear.secondary:hover,
.button.clear.secondary:focus {
  border-color: var(--color-darker-grey);
  color: var(--color-darker-grey);
}

.button.clear.secondary:hover.disabled,
.button.clear.secondary:hover[disabled],
.button.clear.secondary:focus.disabled,
.button.clear.secondary:focus[disabled] {
  border: 1px solid var(--color-grey2);
  color: var(--color-grey2);
}

.button.clear.alert {
  border: 1px solid var(--color-ruby);
  color: var(--color-ruby);
}

.button.clear.alert:hover,
.button.clear.alert:focus {
  border-color: var(--color-darker-ruby);
  color: var(--color-darker-ruby);
}

.button.clear.alert:hover.disabled,
.button.clear.alert:hover[disabled],
.button.clear.alert:focus.disabled,
.button.clear.alert:focus[disabled] {
  border: 1px solid var(--color-ruby);
  color: var(--color-ruby);
}

.button.clear.success {
  border: 1px solid var(--color-green);
  color: var(--color-green);
}

.button.clear.success:hover,
.button.clear.success:focus {
  border-color: var(--color-darker-green);
  color: var(--color-darker-green);
}

.button.clear.success:hover.disabled,
.button.clear.success:hover[disabled],
.button.clear.success:focus.disabled,
.button.clear.success:focus[disabled] {
  border: 1px solid var(--color-green);
  color: var(--color-green);
}

.button.clear.warning {
  border: 1px solid var(--color-orange);
  color: var(--color-orange);
}

.button.clear.warning:hover,
.button.clear.warning:focus {
  border-color: var(--color-darker-orange);
  color: var(--color-darker-orange);
}

.button.clear.warning:hover.disabled,
.button.clear.warning:hover[disabled],
.button.clear.warning:focus.disabled,
.button.clear.warning:focus[disabled] {
  border: 1px solid var(--color-orange);
  color: var(--color-orange);
}

.button.clear.body-font {
  border: 1px solid var(--color-font);
  color: var(--color-font);
}

.button.clear.body-font:hover,
.button.clear.body-font:focus {
  border-color: var(--color-dark-font);
  color: var(--color-dark-font);
}

.button.clear.body-font:hover.disabled,
.button.clear.body-font:hover[disabled],
.button.clear.body-font:focus.disabled,
.button.clear.body-font:focus[disabled] {
  border: 1px solid var(--color-font);
  color: var(--color-font);
}

.button.clear.header {
  border: 1px solid var(--color-font);
  color: var(--color-font);
}

.button.clear.header:hover,
.button.clear.header:focus {
  border-color: var(--color-dark-font);
  color: var(--color-dark-font);
}

.button.clear.header:hover.disabled,
.button.clear.header:hover[disabled],
.button.clear.header:focus.disabled,
.button.clear.header:focus[disabled] {
  border: 1px solid var(--color-font);
  color: var(--color-font);
}

.button.dropdown::after {
  border-color: var(--color-powder) transparent transparent;
}

.button.dropdown.hollow::after {
  border-top-color: var(--color-blue);
}

.button.dropdown.hollow.primary::after {
  border-top-color: var(--color-blue);
}

.button.dropdown.hollow.secondary::after {
  border-top-color: var(--color-grey2);
}

.button.dropdown.hollow.alert::after {
  border-top-color: var(--color-ruby);
}

.button.dropdown.hollow.success::after {
  border-top-color: var(--color-green);
}

.button.dropdown.hollow.warning::after {
  border-top-color: var(--color-orange);
}

.button.dropdown.hollow.body-font::after {
  border-top-color: var(--color-font);
}

.button.dropdown.hollow.header::after {
  border-top-color: var(--color-font);
}

.close-button {
  color: var(--color-dark-grey);
}

.close-button:hover,
.close-button:focus {
  color: var(--color-font);
}

.button-group.primary .button {
  background-color: var(--color-blue);
  color: var(--color-powder);
}

.button-group.primary .button:hover,
.button-group.primary .button:focus {
  background-color: var(--color-darker-blue);
  color: var(--color-powder);
}

.button-group.secondary .button {
  background-color: var(--color-grey2);
  color: var(--color-font);
}

.button-group.secondary .button:hover,
.button-group.secondary .button:focus {
  background-color: var(--color-dark-grey);
  color: var(--color-font);
}

.button-group.alert .button {
  background-color: var(--color-ruby);
  color: var(--color-powder);
}

.button-group.alert .button:hover,
.button-group.alert .button:focus {
  background-color: var(--color-dark-ruby);
  color: var(--color-powder);
}

.button-group.success .button {
  background-color: var(--color-green);
  color: var(--color-font);
}

.button-group.success .button:hover,
.button-group.success .button:focus {
  background-color: var(--color-dark-green);
  color: var(--color-font);
}

.button-group.warning .button {
  background-color: var(--color-orange);
  color: var(--color-font);
}

.button-group.warning .button:hover,
.button-group.warning .button:focus {
  background-color: var(--color-dark-orange);
  color: var(--color-font);
}

.button-group.body-font .button {
  background-color: var(--color-font);
  color: var(--color-powder);
}

.button-group.body-font .button:hover,
.button-group.body-font .button:focus {
  background-color: var(--color-dark-font);
  color: var(--color-powder);
}

.button-group.header .button {
  background-color: var(--color-font);
  color: var(--color-powder);
}

.button-group.header .button:hover,
.button-group.header .button:focus {
  background-color: var(--color-dark-font);
  color: var(--color-powder);
}
