.text-footer {
  text-align: center;
  margin: 0 auto 1rem;
  color: var(--color-grey2);
}

.social-icon {
  color: var(--color-grey1);
}


.social-icons li {
  vertical-align: top;
  display: inline;
}

.social-icons a {
  color: var(--color-grey2);
}
