.menu .is-active>a {
  background: var(--color-blue);
  color: var(--color-powder);
}

.menu .active>a {
  background: var(--color-dark-grey);
  color: var(--color-powder);
}

.drilldown a {
  background: var(--color-powder);
}

.drilldown .is-drilldown-submenu {
  background: var(--color-powder);
  transition: transform 0.15s linear;
}

.drilldown .is-drilldown-submenu-parent>a::after {
  border-color: transparent transparent transparent var(--color-blue);
}

.drilldown.align-left .is-drilldown-submenu-parent>a::after {
  border-color: transparent transparent transparent var(--color-blue);
}

.drilldown.align-right .is-drilldown-submenu-parent>a::after {
  border-color: transparent var(--color-blue) transparent transparent;
}

.drilldown .js-drilldown-back>a::before {
  border-color: transparent var(--color-blue) transparent transparent;
  border-left-width: 0;
}

.submenu-toggle::after {
  border-color: var(--color-blue) transparent transparent;
  margin: auto;
}

.is-accordion-submenu-parent:not(.has-submenu-toggle)>a::after {
  border-color: var(--color-blue) transparent transparent;
  right: 1rem;
}

.dropdown.menu>li.is-dropdown-submenu-parent>a::after {
  border-color: var(--color-blue) transparent transparent;
  margin-top: -3px;
}

.dropdown.menu .is-active>a {
  background: transparent;
  color: var(--color-blue);
}

.dropdown.menu.vertical>li.opens-left>a::after {
  border-color: transparent var(--color-blue) transparent transparent;
}

.dropdown.menu.vertical>li.opens-right>a::after {
  border-color: transparent transparent transparent var(--color-blue);
}

.dropdown.menu.medium-horizontal>li.is-dropdown-submenu-parent>a::after {
  border-color: var(--color-blue) transparent transparent;
  margin-top: -3px;
}

.dropdown.menu.medium-vertical>li.opens-left>a::after {
  border-color: transparent var(--color-blue) transparent transparent;
}

.dropdown.menu.medium-vertical>li.opens-right>a::after {
  border-color: transparent transparent transparent var(--color-blue);
}

.dropdown.menu.large-horizontal>li.is-dropdown-submenu-parent>a::after {
  border-color: var(--color-blue) transparent transparent;
  margin-top: -3px;
}

.dropdown.menu.large-vertical>li.opens-left>a::after {
  border-color: transparent var(--color-blue) transparent transparent;
}

.dropdown.menu.large-vertical>li.opens-right>a::after {
  border-color: transparent transparent transparent var(--color-blue);
}

.is-dropdown-submenu {
  border: 1px solid var(--color-grey1);
}

.is-dropdown-submenu .is-dropdown-submenu-parent.opens-left>a::after {
  border-color: transparent var(--color-blue) transparent transparent;
}

.is-dropdown-submenu .is-dropdown-submenu-parent.opens-right>a::after {
  border-color: transparent transparent transparent var(--color-blue);
}

.title-bar {
  background: var(--color-font);
  color: var(--color-powder);
  align-items: center;
}

.top-bar,
.top-bar ul {
  background-color: transparent;
  margin: .5em;
}

.menu-icon::after {
  background: var(--color-powder);
  box-shadow: 0 7px 0 var(--color-powder), 0 14px 0 var(--color-powder);
}

.menu-icon:hover::after {
  background: var(--color-grey1);
  box-shadow: 0 7px 0 var(--color-grey1), 0 14px 0 var(--color-grey1);
}

.menu-icon.dark::after {
  background: var(--color-font);
  box-shadow: 0 7px 0 var(--color-font), 0 14px 0 var(--color-font);
}

.menu-icon.dark:hover::after {
  background: var(--color-dark-grey);
  box-shadow: 0 7px 0 var(--color-dark-grey), 0 14px 0 var(--color-dark-grey);
}